@using System.Collections.Generic
@using Events.IO.Application.ViewModels
@using Microsoft.AspNetCore.Mvc.Rendering
@model Events.IO.Application.ViewModels.EventViewModel

@{
    ViewData["Title"] = "New Event Registration";
}

<h2>@ViewData["Title"]</h2>

<h4>Fill all the fields up accordingly</h4>
<hr />
<div class="row">
    <vc:summary />
    <div class="col-md-4">
        <form asp-action="Create">
            
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShortDescription" class="control-label"></label>
                <input asp-for="ShortDescription" class="form-control" />
                <span asp-validation-for="ShortDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LongDescription" class="control-label"></label>
                <textarea rows="5" asp-for="LongDescription" class="form-control" ></textarea>
                <span asp-validation-for="LongDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                @Html.Partial("_Categories")
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label asp-for="IsFree" class="control-label">
                        <input asp-for="IsFree" /> @{Html.DisplayNameFor<bool>(model => model.IsFree);} <strong>Free Event</strong>
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label asp-for="Online" class="control-label">
                        <input asp-for="Online" /> @{Html.DisplayNameFor<bool>(model => model.Online);} <strong>Online</strong>
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="CompanyName" class="control-label"></label>
                <input asp-for="CompanyName" class="form-control" />
                <span asp-validation-for="CompanyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Resgister" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-info">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
